.register-body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2A6BAC;
}
.register-success{
  color: white;
  background-color: rgb(95, 205, 95);
  padding: 10px 20px;
  text-align: center;
}
.register {
  // height: 100vh;
  // display: flex;
  // align-items: center;
  // justify-content: center;

  .card {
    max-width: 900px;
    min-height: 70vh;
    display: flex;
    flex-direction: row-reverse;
    background-color: white;
    // min-height: 600px;
    overflow: hidden;

    .left {
      flex: 1;
      background: linear-gradient(rgba(88, 151, 214, 0.5), rgba(88, 151, 214, 0.5)),
        url("https://autismcalgary.com/wp-content/uploads/2020/05/photo-of-woman-and-boy-looking-at-imac-4145347-small-590x590.jpg")
          center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 5%;
      color: white;

      h1 {
        font-size: 60px;
        line-height: 100px;
      }
      
      p {
      }

      span {
        font-size: 14px;
      }
      
      button {
        width: 50%;
        padding: 10px;
        border: none;
        background-color: white;
        color: #2A6BAC;
        font-weight: bold;
        cursor: pointer;
      }
    }

    .right {
      flex: 1;
      padding: 50px;  
      display: flex;
      flex-direction: column;
      gap: 5%;
      justify-content: center;

      h1 {
      color: #555;
      }
      
      form {
        display: flex;
        flex-direction: column;
        gap: 3%;
        
        input {
        border: none;
        border-bottom: 1px solid lightgray;
        padding: 20px 10px;
        }
        
        button {
          width: 50%;
          padding: 10px;
          border: none;
          background-color: #2A6BAC;
          color: white;
          font-weight: bold;
          cursor: pointer;
        }

        p{
          color: red;
        }
      }
    }
  }
}
